.CardOffer_Spacing {
    padding-right: 70px;
    margin-left: -25px;
    margin-top: 45px;
}
.CardOffer_Button {
    margin: 25px 0;
    button {
        width: 70px; height: 70px;
        border-radius: 50%;
        background-color: #FFF;
        border: none;
        outline: none;
        color: #718797;
        text-align: center;
        font-size: 18px;
        transition: .3s ease;
        box-shadow: rgba(168, 168, 168, 0.5) 0px 1px 20px;

    }
    button:hover {
        background-color: #5374ff;
        color: #FFF;
    }
}
.CardOffer_List {
    box-shadow: rgba(168, 168, 168, 0.5) 0px 1px 20px;
    margin-top: 30px;
    background-color: #FFF;
    padding: 15px 10px;
    border-radius: 20px;
    li {
        background-color: #f2f5f8;
        color: #6b6b6b;
        padding: 5px 10px;
        display: block;
        margin: 5px 5px 5px 4px;
        font-size: 14px;
        font-weight: 400;
        border-radius: 5px;
        border: 1px solid transparent;
        transition: .2s ease;
        cursor: pointer;
    }
    li:hover {
        color: #5374ff;
        border-color: #5374ff;
    }
}