.CardAdress_Spacing {
    padding-left: 25px;
    padding-right: 95px;
    margin-top: 42px;
}
.CardAdress {
    background-color: #FFF;
    padding: 15px;
    border-radius: 20px;
    box-shadow: rgba(168, 168, 168, 0.5) 0px 1px 20px;
}
.CardAdress_Bgr {
    background: url(../../background/CardAdress.jpg);
    background-size: cover;
    background-position: center center;
    width: calc(100% + 12px);height: 125px;
    border-radius: 18px;
}
.CardAdress_Content {
    padding: 4px;
    span:nth-child(1) {
        color: #5374ff;
        font-size: 21px;
    }
    span:nth-child(3) {
        color: #718797;
        font-size: 14px;
        i {
            margin-right: 10px;
        }
    }
    h3 {
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        margin-top: 5px;
    }
}