.CardApplication {
    width: 265px;
    background-color: #FFFFFF;
    padding: 24px 20px;
    border-radius: 28px;
}
.CardApplication_Search {
    input {
        width: 225px;
        height: 50px;
        padding: 10px 0px 10px 54px;
        border-radius: 20px;
        transition: .2s ease;
        background-color: #f6f6f6;
        font-size: 12px;
        font-weight: 500;
        &::placeholder {
            color: #000;
        }
    }
    span {
        top: 0px;
        width: 50px;height: 100%;
        transition: .2s ease;
        cursor: pointer;
        i {
            line-height: 52px;
        }
        &::before {
            content:"";
            position: absolute;
            width: 2px;
            height: 10px;
            background-color: #e3e3e3;
            right: 3px;
            top: 20px;
        }
    }
}
.CardApplication_Option {
    li {
        position: relative;
        padding: 12.5px 16px;
        display: flex;
        border-radius: 20px;
        cursor: pointer;
        transition: .2s ease;
        img {
            width: 20px; height: 20px;
            border-radius: 50%;
        }
        p {
            margin: 0px 0px 0px 10px;
            font-size: 12px;
            font-weight: 600;
        }
        span {
            display: none;
            position: absolute;
            right: -7px;
            width: 20px;height: 18px;
            background-color: #0071ff;
            border-radius: 8px;
            cursor: pointer;
            transition: .2s ease;
            i {
                position: relative;
                color: #fff;
                font-size: 8px;
                line-height: 25px;
                top: -5px;
                left: 6px;
            }
        }
    }
}