.CardApplication {
    width: 265px;
    background-color: #FFFFFF;
    padding: 14px 20px;
    border-radius: 28px;
}
.CardApplication_Search {
    input {
        width: 225px;
        height: 50px;
        padding: 10px 0px 10px 54px;
        border-radius: 20px;
        transition: .2s ease;
        background-color: #f6f6f6;
        font-size: 12px;
        font-weight: 500;
        &::placeholder {
            color: #000;
        }
    }
    span {
        top: 0px;
        width: 50px;height: 100%;
        transition: .2s ease;
        cursor: pointer;
        i {
            line-height: 52px;
        }
        &::before {
            content:"";
            position: absolute;
            width: 2px;
            height: 10px;
            background-color: #e3e3e3;
            right: 3px;
            top: 20px;
        }
    }
}
.CardApplication_Option {
    padding: 15px 0px 0px;
    li {
        position: relative;
        padding: 16px 19px;
        display: flex;
        border-radius: 16px;
        cursor: pointer;
        transition: .2s ease;
        img {
            width: 20px; height: 20px;
            border-radius: 50%;
        }
        p {
            margin: 0px 0px 0px 10px;
            font-size: 12px;
            font-weight: 600;
        }
        span {
            width: 18px; height: 18px;
            background-color: #FFFFFF;
            border: 1.5px solid #e3e3e3;
            border-radius: 6px;
            cursor: pointer;
            transition: .2s ease;
            transform: rotate(45deg);
            i {
                position: relative;
                transform: rotate(-45deg);
                color: #fff;
                font-size: 8px;
                line-height: 25px;
                top: -6px;
                left: 4px;
            }
        }
        span:hover {
            transform: scale(1.2) rotate(45deg);
        }
    }
}