.Reaction {
    margin: 0 auto;
    width: 80px;
    height: 65px;
    background-color: #FFF;
    padding: 5px;
    border-radius: 28px;
    .Reaction_Heart {
        background-color: #efe0eb;
        border-radius: 24px;
        span {
            line-height: 60px;
            font-size: 20px;
            color: #f8036f;
            transition: .2s ease;
            cursor: pointer;
        }
    }
    .Reaction_Param {
        text-align: center;
        width: 34px;
        height: 34px;
        right: -15px;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 500;
        top: 7px;
        background-color: #0071ff;
        border-radius: 14px;
        line-height: 35px;
    }
}