.CardCountries {
    width: 275px;
    background-color: #FFFFFF;
    padding: 24px 0px 24px 20px; 
    border-radius: 28px;
    padding-right: 10px;
}
.CardCountries_Search {
    input {
        width: 235px;
        height: 50px;
        padding: 10px 0px 10px 54px;
        border-radius: 20px;
        transition: .2s ease;
        background-color: #f6f6f6;
        font-size: 12px;
        font-weight: 500;
        &::placeholder {
            color: #000;
        }
    }
    span {
        cursor: pointer;
        top: 0px;
        width: 50px;height: 100%;
        transition: .2s ease;
        i {
            line-height: 52px;
        }
        &::before {
            content:"";
            position: absolute;
            width: 2px;
            height: 10px;
            background-color: #e3e3e3;
            right: 3px;
            top: 20px;
        }
    }
}
.List_Country {
    height: 180px;
    li {
        position: relative;
        padding: 12.5px 0px 12.5px 16px;
        display: flex;
        margin-right: 10px;
        border-radius: 16px;
        cursor: pointer;
        transition: 0.2s ease;
        img {
            width: 20px; height: 20px;
            border-radius: 50%;
        }
        p {
            margin: 0px 0px 0px 10px;
            font-size: 12px;
            font-weight: 600;
        }
        span {
            position: absolute;
            display: none;
            right: -7px;
            width: 20px;height: 18px;
            background-color: #0071ff;
            border-radius: 8px;
            cursor: pointer;
            transition: .2s ease;
            i {
                position: relative;
                color: #fff;
                font-size: 8px;
                line-height: 25px;
                top: -5px;
                left: 6px;
            }
        }
    }
}
.CardCountries_Button {
    margin: 8px 0px 0px 0px;
    li:first-child {
        flex: 1;
        button {
            border: 2px solid #0071ff;
            width: 165px;height: 50px;
            border-radius: 22px;
            font-size: 12px;
            font-weight: 600;
            background-color: #0071ff;
            color: #FFF;
            transition: .2s ease;
            &:hover {
                color: #0071ff;
                background-color: #FFF;
            }
        }
    }
    li:last-child {
        button {
            border: 2px solid #e3e3e3;
            width: 50px; height: 50px;
            border-radius: 50%;
            margin-right: 10px;
            background-color: #FFF;
            transition: .2s ease;
            &:hover {
                border-color: #0071ff;
                color: #FFF;
                background-color: #0071ff;
            }
        }
    }
}