.CardSearch_Spacing {
    padding-right: 20px;
    margin-top: 42px;
}
.CardSearch_Search {
    padding: 25px 20px;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow: rgba(168, 168, 168, 0.5) 0px 1px 20px;
    input {
        border: none;
        outline: none;
        flex: 1;
        padding: 18px 12px;
        font-size: 15px;
        border-radius: 10px;
        background-color: #f2f5f8;
    }
    button {
        outline: none;
        border-radius: 10px;
        width: 57px;height: 57px;
        background-color: #5374ff;
        color: #fff;
        position: absolute;
        right: 0px;
        border: 2px solid #5374ff;
        transition: .3s ease;
    }
    button:hover {
        background-color: #FFF;
        color: #5374ff;
    }
    ul {
        max-width: 100%;
        margin-top: 20px;
        li {
            font-size: 14px;
            font-weight: 500;
            margin-right: 20px;
            cursor: pointer;
            white-space: nowrap;
        }
    }
}